# Main Agent
OPENAI_API_KEY=
OPENAI_API_BASE=
MAIN_MODEL=

# Summarization
SUMMARIZATION_API_KEY=
SUMMARIZATION_API_BASE=
SUMMARIZATION_MODEL=

# Vision
VISION_API_KEY=
VISION_API_BASE=
VISION_MODEL=

# Embedding
EMBEDDING_API_KEY=
EMBEDDING_API_BASE=
EMBEDDING_MODEL=
DATA_DIR=./data

# ChromaDB HTTP Server
CHROMA_HOST=localhost
CHROMA_PORT=8001

# OSS
OSS_ENABLE=false
OSS_ENDPOINT=
OSS_BUCKET=train-agent
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=

# TTS
TTS_API_KEY=
TTS_API_BASE=
TTS_MODEL=

# Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="train-agent"