# Main Agent
DEEPSEEK_API_KEY=
DEEPSEEK_API_BASE=https://api.deepseek.com
MAIN_MODEL=deepseek-v4-flash

# Summarization
SUMMARIZATION_API_KEY=
SUMMARIZATION_API_BASE=https://api.deepseek.com
SUMMARIZATION_MODEL=deepseek-v4-flash

# Embedding
EMBEDDING_API_KEY=
EMBEDDING_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
EMBEDDING_MODEL=text-embedding-v2
DATA_DIR=./data

# Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="train-agent"